* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  
  #main {
    position: relative;
    height: auto;
    z-index: -10;
  }
  
  .cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background: #ffffff;
    z-index: 98;
    mix-blend-mode: difference;
    transition: ease-out 0.2s;
    background-position: center;
    background-size: cover;
    pointer-events: none;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 9999;
  }
  
  
  
  .icon {
    /* background: #670000; */
    position: absolute;
    padding: 40px 30px;
    right: 0%;
  }
  
  .close-menu {
    position: absolute;
    top: 40px;
    right: 28px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto;
  }
  
  
  .close-menu .line {
    background-color: #ffffff;
    width: 2.4rem;
    height: 3px;
    position: absolute;
  }
  
  #close1 {
    transform: rotate(45deg);
  }
  
  #close2 {
    transform: rotate(-45deg);
  }
  
  
  #main {
    background-color: #e1e1e1;
  }
  
  nav {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    z-index: 1000; /* Increased z-index to ensure it's above other elements */
  }
  
  .logo {
    font-size: 20px;
    font-weight: 500;
  }
  
  .logo h1 {
    color: #000;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  
    background-color: #ffffff86;
    backdrop-filter: blur(3px);
    padding: 20px 60px;
    border-radius: 50px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: 0.5s;
    pointer-events: auto; /* Ensure pointer events are active for links */
  }
  
  .nav-links a:hover {
    padding: 1px 20px;
    background: #edbfff;
    border-radius: 20px;
  }
  
  .menu-toggle {
    background: #000;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    padding: 7px;
  }
  
  .menu-toggle .line {
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 2.5px;
    transition: 0.5s;
  }
  
  .menu-toggle.active #line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-toggle.active #line2 {
    opacity: 0;
  }
  
  .menu-toggle.active #line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .drop-menu {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 99;
    /* padding: 0 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1.5px solid #ffffff;
  }
  
  .elem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .text-div {
    height: 110px;
    overflow: hidden;
    z-index: 99;
    color: #fff;
  }
  
  .text-div a {
    color: #fff;
    text-decoration: none;
  }
  
  .elem img {
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    width: 18%;
    transform: translateY(10%) rotate(2deg);
  }
  
  /* .elem img:nth-child(1){
      left: 2%;
  }
  
  .elem img:nth-child(3){
      right: 2%;
  } */
  
  .elem h1 {
    font-size: 7rem;
    transition: all ease-in-out 0.3s;
    font-weight: 100;
  }
  
  .elem:hover h1 {
    transform: translateY(-100%);
    color: #edbfff;
  }
  
  .elem:hover img {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
  }

  .hero1 {
    width: 100%;
    height: 150vh;
    background: #ffffff; /* dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    perspective: 1200px;
  }
  
  .hero1-content {
    position: relative;
    text-align: center;
  }

  .hero1-content img {
    max-height: 100vh;
    width: auto;
    object-fit: cover;
    z-index: 1;
    will-change: transform;
  }
  
  
  .hero1-content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.5);
    font-size: 12vw;
    font-weight: 1000;
    color: #000000;
    z-index: 2;
  }
  
  .hero2{
    height: 100vh;
    width: 100%;
    background: #000;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }